<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMH_API_USER</key>
	<string>$(IMH_API_USER)</string>
	<key>IMH_API_PASSWORD</key>
	<string>$(IMH_API_PASSWORD)</string>
	<key>IMH_NAMESPACE_ROOT</key>
	<string>$(IMH_NAMESPACE_ROOT)</string>
</dict>
</plist>
